.wrapper {
  width: clamp(16rem, 90vw, 25rem);
  margin: auto;
  padding-left: var(--gutter, 1rem);
  padding-right: var(--gutter, 1rem);
  border: 1px solid red;
}

.flow>*+*{
  margin-top: 1rem;
}

li{
  border: 1px solid blue;

}